#Entradas externas
NET "rst" LOC = "U10";
NET "entrada" LOC = "E16" | IOSTANDARD = LVCMOS33;

#Salidas externas
NET "leds(7)" LOC = "W21";
NET "leds(6)" LOC = "Y22";
NET "leds(5)" LOC = "V20";
NET "leds(4)" LOC = "V19";
NET "leds(3)" LOC = "U19";
NET "leds(2)" LOC = "U20";
NET "leds(1)" LOC = "T19";
NET "leds(0)" LOC = "R20";
NET "salida" LOC = "F15" | IOSTANDARD = LVCMOS33;

#Entradas internas
NET "clk" LOC = "E12"| IOSTANDARD = LVCMOS33;
